@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    background: #b3cff3;
    color: white;
}
header,
nav,
section,
.content-container,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========== Menu ==========*/
header {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1em 8em;
    background: #2a4862;
    box-shadow: 0 5px 20px 5px rgba(4, 8, 16, 0.3);
}
nav {
    justify-content: space-between;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em 2em;
    border: 1px solid transparent;
    border-radius: 0.3em;
    transition: 0.3s;
}
nav a:hover {
    border: 1px solid #5473f0;
}

/* ========== Hero Section ==========*/
section {
    width: 100%;
    height: 100vh;
}
/* ========== Footer ==========*/
footer {
    background: #161a20;
    padding: 3em;
}
